
<footer>
    <div class="container-footer">
        <div class="footer-info">
            <div class="descripcion">
                <div class="footer_logo">
                    <img loading="lazy" src="assets/images/logo.svg" alt="logo">
                </div>
                <div class="footet_text">
                    <p>Somos un equipo de desarrolladores que creamos tecnologia para impulsar la calidad y eficiencia
                        de los negocios</p>
                </div>
            </div>
        </div>
        <div class="footer-enlaces">
            <ul>
                <h4 class="footer_title">Information</h4>
                <a href="about-us.html">About Us</a>
                <a href="return-policy.html">Return Policy</a>
                <a href="terms-condition.html">Terms & condition</a>
                <a href="privacy-policy.html">Privacy Policy</a>
                <a href="faq.html">FAQ</a>
            </ul>
        </div>


        <div class="footer-contacto">
            <div class="col-lg-4">
                <h4 class="footer-datos">Contact</h4>
                <div class="footer_contact">
                    <p><span class="icn"><i class="las la-map-marker-alt"></i></span>
                        20001 <br> Perú</p>
                    <p class="phn"><span class="icn"><i class="las la-phone"></i></span>
                        +566 477 256, +566 254 575
                    </p>
                    <p class="eml"><span class="icn"><i class="lar la-envelope"></i></span>
                        Madishops
                    </p>
                </div>
            </div>
            <div class="footer-iconos">
                <div class="footer_icon d-flex">
                    <a href="#" class="facebook"><i class="lab la-facebook-f"></i></a>
                    <a href="#" class="twitter"><i class="lab la-twitter"></i></a>
                    <a href="#" class="instagram"><i class="lab la-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copywrite">
        <p class="copyright_text">© RAFCART - All Rights Reserved</p>
    </div>
</footer>